.ProductItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;

}
.ProductItem img:hover {
  outline: 3px solid;
  outline-offset: 5px;
}

.ProductItem img {
  width: 180px;
  height: 110px;
  border-radius: 12px;
  object-fit: cover;
  outline-offset: 0px;
  transition: outline-offset 0.3s;
}
