.Contacts {
    display: flex;
    flex-direction: column;
    margin: 0 6px;
     
    border: 1px solid;
    width: 200px;
    padding: 20px 30px 20px 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    
}
.Contacts label{
    margin: 6px;
}

.Contacts input{
    width: 200px;
    height: 26px;
    border: 1px solid lightblue;
    border-radius: 12px;
    margin: 6px;
}

.Contacts input[type="submit"]{
    width: 206px;
    cursor: pointer;
    
}